#whatsapp{
    border-radius: 70%;
    width: 7vw;
    position: fixed;
    animation: float 5s ease-in-out infinite alternate;
    z-index: 2;
    left: 85%;
    top: 85%
}

@keyframes float{
    0%{
        transform: translatey(0px);
        box-shadow: 0 0 1em rgb(62, 214, 169);
    }
    50%{
        transform: translatey(-5px);
        box-shadow: 0 0 5em rgb(45, 223, 169);
    }
    100%{
        transform: translatey(5px);
        box-shadow: 0 0 1em rgb(0, 243, 170);
    }
}
