.header {

  display: flex;
  background: linear-gradient(rgba(243, 232, 28, 0.8), rgba(207, 10, 10));
  justify-content: space-between;
  padding: 0px;

}

.logoType {
  display: flex;
}

.header ul {

  display: flex;
  margin-left: 100px;
  align-items: center;
  list-style: none;

}

@keyframes links {
  
  from{
    transform: translateX(-3000px);
  }
  to{
      transform: translateX(0px);
  }

}

body{
  
  animation: links 0.5s;

}
