.header {

  display: flex;
  transition: 10s;
  background: linear-gradient(#ff0000, #e1ff00);
  justify-content: space-between;
  padding: 0px;

}

.logoType {
  display: flex;
}

.header ul {

  display: flex;
  margin-left: 100px;
  align-items: center;
  list-style: none;

}

@keyframes translation {
  
  from{
    transform: translateX(-3000px);
  }
  to{
      transform: translateX(0px);
  }

}

body{
  
  animation: translation 0.5s;

}
